Dear <%= @order.name %>
<p>
Thank you for your order.
</p>
<p>
You ordered the following items:
</p>
<p>
<%= render @order.line_items -%>
</p>
<p>
We'll send you a separate e-mail when your order ships.
</p>
<p>
Regards,
</p>
<p>
Company
</p>